<h1>New Message</h1>
<for method="POST" action="/new">
	<label for="name">Author's name:</label>
	<input type="text" id="name" name="name" /> 

	<label for="message">Message:</label>
	<input type="text" id="message" name="message" />

	<input type="submit" value="submit" />
</form>
