<h1>New Message</h1>
<form method="POST" action="/new">
	<label for="name">Author's name:</label>
	<input type="text" id="messageUser" name="messageUser" />

	<label for="message">Message:</label>
	<input type="text" id="messageText" name="messageText" />

	<input type="submit" value="submit" />
</form>
