<html>
	<body>
		<h1>Message from <%= message.user %></h1>
		<ul>
			<li><strong>Message:</strong> <%= message.text %></li>
			<li><strong>Date:</strong> <%= message.added %></li>
		</ul>

		<a href="/">Back to Message board</a>
	</body>
</html>
